<div *ngIf="personagem">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ personagem.name }}</mat-card-title>
      <mat-card-subtitle>{{ personagem.species }}</mat-card-subtitle>
    </mat-card-header>
    <img
      loading="lazy"
      mat-card-image
      src="{{ personagem.image }}"
      alt="{{ personagem.name }}"
    />
    <a
      [routerLink]="['/detalhes', personagem.id]"
      mat-raised-button
      color="primary"
      >Visualizar Detalhes</a
    >
  </mat-card>
</div>
