.container-pesquisa {
    background-color: #1789ab;
    padding-top: 30px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field{
    width: 80%;
}

